.htaccess
.DS_Store
scripts/.DS_Store
public/img
vendor
scripts/config/local.js
.idea*
.idea/*
./idea
./idea/*
*.swp
__MACOSX/*
.buildpath
.project
scripts/config/local.js
.settings
nbproject/*
uploads/*
webstat/*
_uploads/*
/.idea/tur.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.name
/.idea/modules.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/scopes/scope_settings.xml
/.idea/codeStyleSettings.xml
error.log
access.log
nbproject/
/.idea/
/content/.tmb/
